{% extends "base.html" %}
{% load django_bootstrap_breadcrumbs %}

{% block breadcrumbs %}
    {% breadcrumb "Home" "/" %}
    {% breadcrumb "Projects" "/projects" %}
    {% breadcrumb data.project.title "project_index" %}
{% endblock %}

{% block content %}

        <h3>{{ data.project.title }}</h3>
        <p>{{ data.project.description }}</p>
        <p><strong>Requested size:</strong> {{ data.project.requested_size }}GB<br>
        <strong>Date requested:</strong> {{ data.project.request_date }}</p>

        <table class="table">
            <th></th>
            <th>Research</th>
            <th>Vault</th>
            <th>Datasets</th>
            <th>Datamanagers</th>
            {% for r in data.research_folders %}
                <tr>
                    <td></td>
                    <td>{{ r.research_name }} ({{ r.research_size }})</td>
                    <td>{{ r.vault_name }} ({{ r.vault_size }})</td>
                    <td>
                        <ul class="flat-list">
                            {% for d in r.datasets %}
                                <li>
                                    {{ d.name }} ({{ d.status }})
                                </li>
                            {% endfor %}
                        </ul>
                    </td>
                    <td>
                        <ul class="flat-list">
                            {% for dm in r.datamanagers %}
                                <li>
                                    {{ dm }}
                                </li>
                            {% endfor %}
                        </ul>
                    </td>
                </tr>
            {% endfor %}
        <tr>
            <td><strong>Total</strong></td>
            <td>{{ data.research_size }}</td>
            <td>{{ data.vault_size }}</td>
            <td></td>
            <td></td>
        </tr>
        </table>

    <canvas id="project-size-chart" data-url="project_size_chart_json/{{ data.project.id }}"></canvas>
    <hr/>
    <canvas id="project-delta-chart" data-url="project_delta_chart_json/{{ data.project.id }}"></canvas>
    <script>
        $(function () {
            setStackedBarChart($("#project-size-chart"), 'Size', false);
            setStackedBarChart($("#project-delta-chart"), 'Growth', false);
        });
    </script>
{% endblock %}
