{% extends "base.html" %}
{% load django_bootstrap_breadcrumbs %}

{% block breadcrumbs %}
    {% breadcrumb "Home" "/" %}
    {% breadcrumb "Storage" "/storage" %}
{% endblock %}

{% block content %}
    <h1>Storage breakdown</h1>
    <canvas id="storage-chart" data-url="{% url 'storage_chart_json' %}"></canvas>
    <a href="" onclick="downloadImage('storage-chart')">download</a>
    <script>
        $(function () {
            setStackedBarChart($("#storage-chart"), 'Storage (GB)', false);
        });
    </script>

{% endblock %}