{% extends "base.html" %}
{% load django_bootstrap_breadcrumbs %}

{% block breadcrumbs %}
    {% breadcrumb "Home" "/" %}
    {% breadcrumb "Storage" "/storage" %}
{% endblock %}

{% block content %}
    <h1>Storage breakdown</h1>
    <canvas id="storage-chart" data-url="{% url 'storage_chart_json' %}"></canvas>
    <script>

        function setBarChart(chart, title, stacked) {
            $.ajax({
                url: chart.data("url"),
                success: function (data) {

                    var ctx = chart[0].getContext("2d");

                    var options = {
                        responsive: true,
                        legend: {
                            position: 'top',
                        },
                        title: {
                            display: true,
                            text: title
                        },
                        scales:
                            {
                                yAxes: [{
                                    ticks:
                                        {
                                            beginAtZero: true
                                        },
                                    stacked: true
                                }],
                                xAxes: [{
                                    stacked: true
                                }]
                            }

                    }

                    new Chart(ctx, {
                        type: 'bar',
                        data: {
                            labels: data.labels,
                            datasets: data.datasets
                        },
                        options: options
                    });

                }
            });
        }

        $(function () {
            setBarChart($("#storage-chart"), 'Storage (GB)', false);
        });
    </script>

{% endblock %}