<!DOCTYPE html>
<html lang="en">
<head>
    {% block title %}<title>Yoda administration database</title>{% endblock %}
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.5.3/dist/css/bootstrap.min.css"
          integrity="sha384-TX8t27EcRE3e/ihU7zmQxVncDAy5uIKz4rEkgIXeMed4M0jlfIDPvg6uqKI2xXr2" crossorigin="anonymous">
    <!-- Add additional CSS in static file -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.5.0/font/bootstrap-icons.css">
    {% load static %}
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
    <script type="text/javascript" src="https://code.jquery.com/jquery-1.10.0.min.js"></script>
    <script type="text/javascript" src="{% static 'js/Chart.min.js' %}"></script>
    <script type="text/javascript" src="{% static 'js/custom_charts.js' %}"></script>

</head>
<body>
<div class="container">
    <nav class="navbar navbar-expand-lg">
        <div class="navbar-brand">
            <img src="{% static 'VU-logo-nobg.svg' %}">
            Yoda project administration
        </div>

        {% block nav %}
            <ul class="navbar-nav ml-auto">
                <li class="nav-item"><a class="nav-link" href="{% url 'index' %}">Home</a></li>
                <li class="nav-item"><a class="nav-link" href="https://portal.yoda.vu.nl">Yoda portal</a></li>
                <li class="nav-item"><a class="nav-link" href="{% url 'admin:index' %}">Admin</a></li>
            </ul>
        {% endblock %}
    </nav>
    {% load django_bootstrap_breadcrumbs %}
    {% block breadcrumbs %}
        {% clear_breadcrumbs %}
        {% breadcrumb "Home" "/" %}
    {% endblock %}
    {% render_breadcrumbs "django_bootstrap_breadcrumbs/bootstrap4.html" %}
    <div class="row">
        <div class="col-sm-12 ">{% block content %}{% endblock %}</div>
    </div>
    <p></p>
    <footer class="text-center text-lg-start bg-light text-muted">
        <!-- Copyright -->
        <div class="text-center p-4" style="background-color: rgba(0, 0, 0, 0.05);">
            <a href="https://github.com/vu-rdm-tech/">VU RDM on github</a>
            &nbsp;|&nbsp;
            © 2021 Copyright:
            <a class="text-reset fw-bold" href="https://vu.nl/">Vrije Universiteit Amsterdam</a>
        </div>
        <!-- Copyright -->
    </footer>
</div>
</body>
</html>