{% extends "base.html" %}

{% block content %}
    <p>Current Yoda stats (<i>{{ last_updated }}</i>):</p>
    <ul class="list-group col-md-4">
        <li class="list-group-item d-flex justify-content-between align-items-center">
        <a href="{% url 'projects_index' %}">
            <strong>Projects:</strong></a> {{ num_projects }}
        </li>
        <li class="list-group-item d-flex justify-content-between align-items-center">
        <a href="{% url 'projects_storage' %}">
            <strong>Size:</strong></a> {{ total_size }}
        </li>
        <li class="list-group-item d-flex justify-content-between align-items-center">
            <strong>Requested size:</strong> {{ requested_size }}TB
        </li>
        <li class="list-group-item d-flex justify-content-between align-items-center">
            <strong>Users:</strong> {{ num_users }}
        </li>
        <li class="list-group-item d-flex justify-content-between align-items-center">
            <strong>Groups:</strong> {{ num_groups }}
        </li>
        <li class="list-group-item d-flex justify-content-between align-items-center">
            <strong>Archived datasets:</strong> {{ num_datasets }}
        </li>
        <li class="list-group-item d-flex justify-content-between align-items-center">
            <strong>Published datasets:</strong> {{ num_published }}
        </li>

    </ul>

    <canvas id="project-chart" data-url="{% url 'project_chart_json' %}"></canvas>
    <hr/>
    <canvas id="size-chart" data-url="{% url 'size_chart_json' %}"></canvas>
    <hr/>
    <canvas id="user-chart" data-url="{% url 'user_chart_json' %}"></canvas>
    <hr/>
    <script>

        function setBarChart(chart, title, stacked) {
            $.ajax({
                url: chart.data("url"),
                success: function (data) {

                    var ctx = chart[0].getContext("2d");

                    var options = {
                        responsive: true,
                        legend: {
                            position: 'top',
                        },
                        title: {
                            display: true,
                            text: title
                        },
                        scales:
                            {
                                yAxes: [{
                                    ticks:
                                        {
                                            beginAtZero: true
                                        },
                                    stacked: true
                                }],
                                xAxes: [{
                                    stacked: true
                                }]
                            }
                    }

                    new Chart(ctx, {
                        type: 'bar',
                        data: {
                            labels: data.labels,
                            datasets: data.datasets
                        },
                        options: options
                    });

                }
            });
        }

        $(function () {
            setBarChart($("#project-chart"), 'Number of projects', false);
            setBarChart($("#size-chart"), 'Storage size (research and vault)', false);
            setBarChart($("#user-chart"), 'Number of users', true);
        });

    </script>

{% endblock %}
