{% extends "base.html" %}

{% block content %}
    <p>Current Yoda stats (<i>{{ last_updated }}</i>):</p>
    <ul class="list-group col-md-4">
        <li class="list-group-item d-flex justify-content-between align-items-center">
        <a href="{% url 'projects_index' %}">
            <strong>Projects:</strong></a> {{ num_projects }} 
            {% if unregistered_groups > 0 %}
                ({{ unregistered_groups }} unregistered)
            {% endif %}
        </li>
        <li class="list-group-item d-flex justify-content-between align-items-center">
        <a href="{% url 'projects_storage' %}">
            <strong>Size:</strong></a> {{ total_size }}
        </li>
        <li class="list-group-item d-flex justify-content-between align-items-center">
            <strong>Users:</strong> {{ num_users }}
        </li>
        <li class="list-group-item d-flex justify-content-between align-items-center">
            <strong>Groups:</strong> {{ num_groups }}
        </li>
        <li class="list-group-item d-flex justify-content-between align-items-center">
            <strong>Stale groups (1 year):</strong> {{ stale_groups }}
        </li>
        <li class="list-group-item d-flex justify-content-between align-items-center">
            <strong>Archived datasets:</strong> {{ num_datasets }}
        </li>
        <li class="list-group-item d-flex justify-content-between align-items-center">
            <strong>Published datasets:</strong> {{ num_published }}
        </li>
        <li class="list-group-item d-flex justify-content-between align-items-center">
            <strong>Reports:</strong>
            <span>
                <a class="nav-link" href="{% url 'download_billing_report' year=previous_year %}">Cost report {{ previous_year }}</a>
    	        <a class="nav-link" href="{% url 'download_billing_report' year=current_year %}">Cost report {{ current_year }}</a>
                <a class="nav-link" href="{% url 'download_statistics_report' %}">Statistics report</a>
            </span>
        </li>
        
    </ul>

    
    <canvas id="group-chart" data-url="{% url 'group_chart_json' %}"></canvas>
    <hr/>
    <!--<canvas id="project-chart" data-url="{% url 'project_chart_json' %}"></canvas>-->
    <hr/>
    <canvas id="size-chart" data-url="{% url 'size_chart_json' %}"></canvas>
    <hr/>
    <canvas id="size-breakdown-chart" data-url="{% url 'size_breakdown_chart_json' %}"></canvas>
    <hr/>
    <canvas id="dataset-chart" data-url="{% url 'dataset_chart_json' %}"></canvas>
    <!--
    <hr/>
    <canvas id="research-size-chart" data-url="{% url 'research_size_chart_json' %}"></canvas>
    <hr/>
    <canvas id="vault-size-chart" data-url="{% url 'vault_size_chart_json' %}"></canvas>
    -->
    <hr/>
    <canvas id="user-chart" data-url="{% url 'user_chart_json' %}"></canvas>
    <hr/>
    <script>
        $(function () {
            setStackedBarChart($("#group-chart"), 'Number of groups', false);
            //setStackedBarChart($("#project-chart"), 'Number of projects', false);
            setStackedBarChart($("#size-chart"), 'Research and Vault size (GB)', false);
            setBarChart($("#size-breakdown-chart"), 'Size breakdown (GB)', false);
            setStackedBarChart($("#dataset-chart"), 'Archived and publlished datasets', false);
            //setStackedBarChart($("#research-size-chart"), 'Research size (GB)', false);
            //setStackedBarChart($("#vault-size-chart"), 'Vault size (GB)', false);
            setStackedBarChart($("#user-chart"), 'Number of users', true);
        });
    </script>

{% endblock %}

